img {
  width: 30%;
  height: 30%;
  margin-bottom: 2px;
}

.images {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
}

#myVid {
  border: 2px black solid;
}
